<h3 class="text-center">Listado de Artículos</h3>
<br>
<div class="col-sm-12">
	<button class="btn btn-success" routerLink="/post/new">Crear artículo</button>
</div>
<br><br><br>
<div class="col-sm-4" *ngFor="let post of posts">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title"><a (click)="goToShow(post)">{{post.title}}</a></div>
		</div>
		<div class="panel-body">
			<small>ID: {{post.id}}</small>
			<p>
				<small>Última actualizacion: {{post.updated_at}}</small>
			</p>
			<div>
				<p>
					{{post.body}}
				</p>
			</div>
			<div>
				<button (click)="destroyPost(post.id)">Eliminar</button>
			</div>
		</div>
	</div>
</div>